<html xmlns:th="<http://www.thymeleaf.org>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>全部員工資料</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/table.css}">
</head>
<body>
	<h3>所有員工資料</h3>
	<font color='red' th:if="${errorMsgs!=null and !errorMsgs.isEmpty()}">請修正以下錯誤:
		<ul>
			<li th:each="message:${errorMsgs}" th:text="${message}"></li>
		</ul>
	</font>
	<table>
		<tr>
			<th>員工編號</th>
			<th>員工姓名</th>
			<th>職位</th>
			<th>雇用日期</th>
			<th>薪水</th>
			<th>獎金</th>
			<th>部門</th>
			<th>修改</th>
			<th>刪除</th>
		</tr>
		<tr align='center' valign='middle' th:each="empVO:${empVOs}">
			<td th:text="${empVO.empno}"></td>
			<td th:text="${empVO.ename}"></td>
			<td th:text="${empVO.job}"></td>
			<td th:text="${empVO.hiredate}"></td>
			<td th:text="${empVO.sal}"></td>
			<td th:text="${empVO.comm}"></td>

			<td th:each="deptVO:${deptVOs}"
				th:if="${empVO.deptVO.deptno==deptVO.deptno}"
				th:text="${empVO.deptVO.deptno} + '【' + ${deptVO.dname} + ' - ' + ${deptVO.loc} + '】'">
			<td>
				<form method="POST" th:action="@{/emp/getOne_For_Update}">
					<input type="submit" value="修改"> <input type="hidden"
						name="empno" th:value="${empVO.empno}">
				</form>
			</td>
			<td>
				<form method="POST" th:action="@{/emp/delete}">
					<input type="submit" value="刪除"> <input type="hidden"
						name="empno" th:value="${empVO.empno}">
				</form>
			</td>
		</tr>
	</table>
	<br>
	<a th:href="@{/}">回首頁</a>
</body>
</html>
