/.metadata/
practice0/.classpath
practice0/.project
practice0/.settings/
practice0/build/
practice1/.classpath
practice1/.project
practice1/.settings/
practice1/target/
practice2/.classpath
practice2/.project
practice2/.settings/
practice2/target/
practice3/.classpath
practice3/.project
practice3/.settings/
practice3/target/
practice4/.classpath
practice4/.project
practice4/.settings/
practice4/target/
practice5/.settings/
Servers/
practice5/.classpath
practice5/.factorypath
practice5/.project
practice5/HELP.md
practice5/mvnw
practice5/mvnw.cmd
practice5/.mvn/wrapper/maven-wrapper.jar
practice5/.mvn/wrapper/maven-wrapper.properties
practice5/target/
