<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>員工資料新增</title>
</head>
<body>
	<h3>員工資料</h3>
	<font color='red' th:if="${errorMsgs!=null and !errorMsgs.isEmpty()}">請修正以下錯誤:
		<ul>
			<li th:each="message:${errorMsgs}" th:text=${message}></li>
		</ul>
	</font>
	<form method="POST" th:action="@{/emp/insert}" name="form1">
		<table>
			<tr>
				<td>員工姓名:</td>
				<td><input type="TEXT" name="ename" size="45"
					th:value="${empVO==null} ? '王小明' : ${empVO.ename}" /></td>
			</tr>
			<tr>
				<td>職位:</td>
				<td><input type="TEXT" name="job" size="45"
					th:value="${empVO==null} ? 'manager' : ${empVO.job}" /></td>
			</tr>
			<tr>
				<td>雇用日期:</td>
				<td><input type="date" name="hiredate"
					th:value="${empVO == null ? #dates.format(#dates.createNow(), 'yyyy-MM-dd') : empVO.hiredate}" />
				</td>
			</tr>
			<tr>
				<td>薪水:</td>
				<td><input type="TEXT" name="sal" size="45"
					th:value="${empVO==null} ? '10000' : ${empVO.sal}" /></td>
			</tr>
			<tr>
				<td>獎金:</td>
				<td><input type="TEXT" name="comm" size="45"
					th:value="${empVO==null}? '100' : ${empVO.comm}" /></td>
			</tr>
			<tr>
				<td>部門:<font color=red><b>*</b></font></td>
				<td><select size="1" name="deptVO.deptno">
						<option th:each="deptVO:${deptVOs}" th:value="${deptVO.deptno}"
							th:text="${deptVO.dname}"></option>
				</select></td>
			</tr>
		</table>
		<br /> <a th:href="@{/}">回首頁</a> <input type="submit" value="送出新增">
	</form>
</body>
</html>
